.product-view {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: right;
    @media screen and (min-width: 768px) {
       img {
        width: 420px;
       } 
    }

    .product-info {
        padding: 1em;
        text-align: left;
        justify-content: space-between;
        align-items: flex-end
    }
}